/* about — вся секция;
about__column — класс для колонок;
about__logo — контейнер с логотипом;
about__logo-image — изображение логотипа;
about__title — заголовок секции;
about__text — блок для текстов секции. */

.about {
  padding-right: 24px;
  padding-left: 120px;
}

.about__column {
  display: flex;
  justify-content: center;
  gap: 119px;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 63px 46px;
  color: black;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding-top: 103px;
  padding-bottom: 100px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-align: start;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
}
